---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import logowithname from "../assets/images/logowithname.svg";
---
<MainLayout title="Titel">

		<!-- Sofia -->
	<section id="hero" class="h-[98vh] flex flex-col justify-center  items-center bg-[url('/indexhero.png')] bg-cover ">
<Image src={logowithname} alt="logo with name" class="md:w-1/2  "></Image>
<h1 class="text-2xl md:text-large text-yellow-500">Eventyrlige højskoleophold i udlandet for unge</h1>
	</section>


	<section id="intro " class="m-auto max-w-3xl text-center italic ">
		<h1 class="text-2xl md:text-large">HöjskolenDK er for dig, der vil på højskole i udlandet, elsker fællesskab, drømmer om et rejseeventyr, rygsæk og kulturmøder, søger stærkt sammenhold og inspirerende undervisning.</h1>
		<div class="flex justify-center mt-s">
			<Button>Vælg dit eventyr</Button>
		</div>
	</section>

	<!-- nora -->
	<section id="hojskoleophold">

	</section>

	<!-- nora -->
	<section id="samarbejdspartnere">

	</section>

	<!-- august -->
	<section id="info"> 

	</section>

	<!-- Sofia -->
	<section id="reviews">

	</section>
	</article>


	<!-- links -->
	<div class="mt-28">
		<a href="/design">design</a>
		<a href="/single">single</a>
	</div>
</MainLayout>