---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Review from '../components/Review.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import logowithname from "../assets/images/logowithname.svg";
import nepalfront from "../assets/images/nepalfront.png";
import Card from '../components/Card.astro';
import Partnere from '../components/Partnere.astro';
import Accordion from '../components/Accordion.astro';
---
<MainLayout title="Titel">
	<section id="hero" class="relative bg-[url('/nepal.png')] bg-cover bg-fixed bg-center h-[98vh] flex flex-col justify-center items-center">
		<article class="relative h-full flex flex-col justify-center items-center">
		 
		  <!-- Logo and Text -->
		  <div class="flex flex-col  items-center z-20">
			<Image
			data-aos="zoom-in"
		data-aos-easing="linear"
		data-aos-duration="1000"
			 src={logowithname} alt="logo with name" class="md:w-3/4 " />
			<h1
			data-aos="zoom-in"
		data-aos-easing="linear"
		data-aos-duration="1200"
			 class="text-2xl md:text-large text-center text-yellow-500 ">Eventyrlige højskoleophold i udlandet for unge</h1>
		  </div>
	  
		  <!-- Scroll Arrow -->
		  <a href="#intro" class=" bg-[url('/arrowdown-orange.svg')] z-20 hover:animate-bounce bg-cover absolute -bottom-5 sm-w-[10%] w-[6%] md:-bottom-10 md:w-[5%]  aspect-[62/133] text-transparent">
			arrowdown
		  </a> 
		</article>
		 <!-- Static Mountain Image (fixed position) -->
		<Image 
		src={nepalfront} alt="people on mountain" class=" absolute left-0 w-full h-full object-cover object-center z-10" />
		  
	  </section>


		<!-- Sofia -->
	<!-- <section id="hero" class="h-[98vh] flex flex-col justify-center relative items-center bg-[url('/indexhero.png')] bg-cover ">
		<Image src={logowithname} alt="logo with name" class="md:w-1/2 lg:pt-6 "></Image>
		<h1 class="text-2xl md:text-large text-center text-yellow-500 ">Eventyrlige højskoleophold i udlandet for unge</h1>
			<a href="#intro" class=" lg:pb-6 bg-[url('/arrowdown-orange.svg')] z-20 hover:animate-bounce bg-cover absolute -bottom-5 w-[10%] md:-bottom-10 md:w-[5%] xl:w-[3.5%] aspect-[62/133] text-transparent ">
			arrowdown
			</a> 
	</section> -->


	<section id="intro" class="m-auto max-w-3xl text-center py-16 ">
		<h1
		data-aos="fade-up"
		data-aos-delay="200"
		 class="text-2xl md:text-large">HöjskolenDK er for dig, der vil på højskole i udlandet, elsker fællesskab, drømmer om et rejseeventyr, rygsæk og kulturmøder, søger stærkt sammenhold og inspirerende undervisning.</h1>
		<div
		data-aos="fade-up"
		data-aos-delay="200"
		 class="flex justify-center mt-s">
			<Button>Vælg dit eventyr</Button>
		</div>
	</section>

	<!-- nora -->
	<section id="hojskoleophold">
<Card></Card>
	</section>

	<!-- nora -->
	<section id="samarbejdspartnere">
<Partnere></Partnere>
	</section>

	<!-- august -->
	<section id="info"> 
		<div class="mx-60 my-24">
			<Accordion class="border-b-2 border-black" caption="Overblik" image="boat.webp" bio="Australien, New Zealand, Bali & Gili Islands. Tag med på højskole i udlandet og oplev den modsatte side af kloden med fantastiske oplevelser i smuk natur og spændende kulturer. På Bali og Gili Islands dykker vi ned i farverige landskaber, frodige regnskove, hvide sandstrande og vilde vulkaner. Nyd solnedgange, frisk kokosnød og et barfodsparadis. Australien byder på et stort eventyr med storbyer, ørkener, regnskove, fantastiske strande og unik natur. Mød kænguruer, koalaer og papegøjer i et gæstfrit og åbent land. New Zealand er et mekka for eventyr med rafting, kajaksejlads, vandreture og canyoning. Oplev nogle af verdens smukkeste landskaber og et imødekommende folk."></Accordion>
			<Accordion class="border-b-2 border-black" caption="Program" image="bloon.webp" bio="INTRODAGE: Vi starter med spændende introdage i fx Dubai, Bangkok, Doha, Singapore eller Brisbane. Vi lærer hinanden at kende gennem fællesmiddage, sightseeing og vores eget ’HÖJSKOLENDK Adventurerace’. Destination afhænger af fly og sæson. TEAMBUILDING: Bali & Gili Islands byder på frodig natur, smukke strande og aktiviteter som surfing og hyggelige landsbybesøg. Fra Ubud sejler vi til de bilfri Gili Islands med kridhvide strande og turkisblåt hav. FRIUGE INDONESIEN: Udforsk Indonesien i friugen - besøg Lombok, Nusa Penida, Komodo eller oplev yoga-retreats, surfcamps og roadtrips. Vi sikrer tryghed og fantastiske oplevelser. SELVUDVIKLING & KOMMUNIKATION: Byron Bay, Australien, byder på lækre strande, surf, markeder og undervisning. Brug fritiden på hikes, musik og besøg i Cape Byron – Australiens østligste punkt. FRIUGE AUSTRALIEN: Udforsk Australien i en 10-dages friuge. Tag på roadtrip, surfcamp, besøg Sydney, Melbourne eller Ayers Rock, eller svøm med delfiner. Vi mødes igen og flyver videre. SPORT & ADVENTURE: Queenstown, New Zealand, er et adventure-mekka med natur som bjerge, floder og gletsjere. Prøv rafting, kajak, hiking og canyoning – alt inkluderet. FRIUGE NEW ZEALAND: Udforsk New Zealand i ca. 10 dage – roadtrips til campsites og naturen er oplagt. Vi mødes til sidst og flyver hjem til Danmark med minder for livet."></Accordion>
			<Accordion class="border-b-2 border-black" caption="Inkluderet" image="ink.webp" bio="ALTID: Dansk rejseleder og undervisere, 24-timers vagttelefon, infobreve, visumvejledning, afrejsemøde, fælles afrejse, transfers, højskolebevis, Facebook-gruppe, rabat på vacciner, indkvartering (ekskl. friuger), lokal transport og entré, højskoleaftener, medlemskab af elevforening og Rejsegarantifonden, partnerskab med 'World Animal Protection', skovfredning med 'Verdens Skove' og plantning af 50 træer pr. elev. GENERELT: Fly tur/retur, skatter og bagage, undervisning i teambuilding, sport & adventure og selvudvikling, samt HÖJSKOLENDK Adventurerace. AUSTRALIEN: Indkvartering i Byron Bay, transport fra Brisbane, hike til Cape Byron, lån af surfboards, lokale markeder, livemusik, strand 100 meter fra værelset, rooftop bar og Robinson-dyst. NEW ZEALAND: Indkvartering i Queenstown, hikes til Queenstown Hill, Ben Lomond og Mt. Cook (Hooker Valley), kajak og canyoning ved Wanaka, river rafting, bubble soccer, archery tag, forhindringsbane, disc golf, filmaftener, jacuzzi og BBQ. BALI & GILI ISLANDS: Indkvartering med morgenmad, hike til Mount Batur, Monkey Forest, Tegalalang risterrasser, vandfald i Ubud, lokale markeder, heldagstur til Nusa Penida (Kelingking), surftimer, udflugt til Canggu, hurtigfærge til Gili Islands, snorkeltur (inkl. undervandsstatuer) og beach clean-up."></Accordion>
			<Accordion class="border-b-2 border-black" caption="Fag" image="fag.jpg" bio="TEAMBUILDING: Første fag er Teambuilding – et aktivt, sjovt og inspirerende fag. Fokus er på fællesskab og trivsel gennem øvelser i samarbejde, relationer, tillid og værdier. Vi udfordrer jer med sjove og lærerige aktiviteter, der skaber et stærkt og inkluderende fællesskab. Glæd dig til en meningsfuld start på højskole-eventyret. SPORT & ADVENTURE: Et actionfyldt fag med teamsport og adventure som kajak, rafting, canyoning og hikes. Vi spiller Bubblesoccer og udfordrer hinanden i ArcheryTag. Aktiviteterne styrker fællesskab, selvtillid og mental styrke. Forvent adrenalinfyldte oplevelser og grænseoverskridende sjov – alle kan være med! SELVUDVIKLING & KOMMUNIKATION: Undervisning med fokus på dig. Gennem øvelser, dialog og refleksion lærer du at sætte mål, finde retning og styrke dine personlige egenskaber. Vi arbejder med coaching, mindfulness og debat for at give dig værktøjer til personlig udvikling og indsigt i dine styrker."></Accordion>
			<Accordion class="border-b-2 border-black" caption="Kontakt" image="louise.webp" bio="LOUISE SKJOLDBORG BRUUN. Hvis du læser dette har du sikkert eventyr i blodet, er nysgerrig på vores eventyrlige højskoleophold i 'Hawaii, Australien, Japan, Bali & Gili Islands', og har måske lidt spørgsmål du gerne vil have svar på eller brug for en snak ift. opholdet. Jeg hedder Louise og er selv tidligere elev (fra 2014) i HÖJSKOLENDK. Efter mit eget fantastiske højskoleophold, blev jeg rejseleder og nu er jeg en del af kontoret. Blandt mange af mine spændende opgaver i HÖJSKOLENDK, er dette højskoleophold “mit” ophold, så det er mig der sidder bag skærmen og sørger for alt det praktiske omkring eventyret og knokler mit allerbedste, så I får en fantastisk rejse. Har du spørgsmål, vil høre mere eller bare godt kunne tænke dig en hyggelig snak om vores eventyr i 'Hawaii, Australien, Japan, Bali & Gili Islands', er du altid velkommen til at give mig et kald eller smide en mail. Tlf.: 7027 9007 // Mail: lsb@hojskolendk.dk Jeg glæder mig til at høre fra dig! Louise - HÖJSKOLENDK"></Accordion>
		</div>
	</section>

	<!-- Sofia -->
	<section id="reviews" class="flex flex-wrap justify-center m-auto max-w-4xl gap-xs">
		<Review
			starfill1="#FF5900"
			starfill2="#FF5900"
			starfill3="#FF5900"
			starfill4="#FF5900"
			starfill5="#F2F2F2"
			titel="Fantastisk tur"
			text="“Jeg fik en uforglemmeligt, unikt og trygt rejseeventyr for livet...”"
			name="Jens Jensen, juni 20"
		></Review>
		<Review
			starfill1="#FF5900"
			starfill2="#FF5900"
			starfill3="#FF5900"
			starfill4="#FF5900"
			starfill5="#FF5900"
			titel="Jeg har fundet mig selv"
			text="“Jeg fik en uforglemmeligt, unikt og trygt rejseeventyr for livet...”"
			name="Morten Mortensen, juni 20"
		></Review>
		<Review
			starfill1="#FF5900"
			starfill2="#FF5900"
			starfill3="#FF5900"
			starfill4="#FF5900"
			starfill5="#FF5900"
			titel="Kan klart anbefales"
			text="“Jeg fik en uforglemmeligt, unikt og trygt rejseeventyr for livet...”"
			name="Lise Lissen, juni 20"
		></Review>
		<Review
			starfill1="#FF5900"
			starfill2="#FF5900"
			starfill3="#FF5900"
			starfill4="#F2F2F2"
			starfill5="#F2F2F2"
			titel="Jeg har fundet mig selv"
			text="“Jeg fik en uforglemmeligt, unikt og trygt rejseeventyr for livet...”"
			name="Morten Mogensen, juni 20">
		</Review>
		<Review
			starfill1="#FF5900"
			starfill2="#FF5900"
			starfill3="#FF5900"
			starfill4="#FF5900"
			starfill5="#FF5900"
			titel="Kan klart anbefales"
			text="“Jeg fik en uforglemmeligt, unikt og trygt rejseeventyr for livet...”"
			name="Lise Lissen, juni 20">
		</Review>
		<Review
			starfill1="#FF5900"
			starfill2="#FF5900"
			starfill3="#FF5900"
			starfill4="#FF5900"
			starfill5="#F2F2F2"
			titel="Fantastisk tur"
			text="“Jeg fik en uforglemmeligt, unikt og trygt rejseeventyr for livet...”"
			name="Jens Jensen, juni 20">
		</Review>


	</section>
	</article>


	<!-- links -->
	<div class="mt-28">
		<a href="/design">design</a>
		<a href="/single">single</a>
	</div>
</MainLayout>