---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Titel">

	<article class="max-w-screen-xl mx-auto">
		<!-- Sofia -->
	<section id="hero">

	</section>


	<section id="intro">

	</section>

	<!-- nora -->
	<section id="hojskoleophold">

	</section>

	<!-- nora -->
	<section id="samarbejdspartnere">

	</section>

	<!-- august -->
	<section id="info"> 
<a href="/single"></a>
	</section>

	<!-- Sofia -->
	<section id="reviews">

	</section>
	</article>
</MainLayout>