---
import Button from '../components/Button.astro';
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import Singlehero from "../assets/images/singlehero.png";
---

<!-- august -->

<MainLayout>
<section>
    <!-- kanske hitta bättre bild :) -->
    <Image class="h-screen object-cover" src={Singlehero} alt="logo ikon"></Image>
    <h1>AUSTRALIA, NEW ZEALAND, BALI & GILI ISLANDS</h1>
</section>

<section>
    <div>
        <img src="" alt="">
        <button></button>
        <button></button>
    </div>
    <div>
        <h1></h1>
        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>

        <ul>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</section>
</MainLayout>