---
import Button from '../components/Button.astro';
---
 <!-- lg:max-w-lg max-w-sm -->
 <article class="">
   <h1 class="font-display text-2xl md:text-large py-sm text-center text-orange-500 ">Højskoleophold</h1>
    <div class="mangeelementerinview flex flex-wrap justify-center gap-xs  m-auto max-w-5xl ">
        <a href="/single" ><div class="mangeelementer1 card bg-[url('../colombia.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
         <div class="flex flex-col text-medium text-yellow-500">
            <h2 class="font-cooper">COSTA RICA</h2>
            <h2 class="font-cooper">MEXICO</h2>
            <h2 class="font-cooper">COLOMBIA</h2>
            </div>
            <Button class="">Læs mere</Button>
        </div></a>
    
        <a href="/single" ><div class="mangeelementer2 bg-[url('../newzealand.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
            <div class="flex flex-col text-medium text-yellow-500">
                 <h2 class="font-cooper">AUSTRALIA</h2>
                 <h2 class="font-cooper">NEW ZEALAND</h2>
                 <h2 class="font-cooper">BALI</h2>
                 <h2 class="font-cooper">GILI ISLANDS</h2>
            </div>
            <Button class="">Læs mere</Button>
         </div></a>
         <a href="/single" ><div class="mangeelementer3 bg-[url('../maldiverna.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
            <div class="flex flex-col text-medium text-yellow-500">
                 <h2 class="font-cooper">MALDIVERNE</h2>
                 <h2 class="font-cooper">SRI LANKA</h2>
                 <h2 class="font-cooper">BALI</h2>
                 <h2 class="font-cooper">GILI ISLANDS</h2>
            </div>
            <Button class="">Læs mere</Button>
         </div></a>
         <a href="/single" ><div class="mangeelementer4 bg-[url('../newyork.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
            <div class="flex flex-col text-medium text-yellow-500">
                 <h2 class="font-cooper">NEW YORK</h2>
                 <h2 class="font-cooper">CARRIBIEN</h2>
                 <h2 class="font-cooper">HAWAII</h2>
                 <h2 class="font-cooper">MEXICO</h2>
            </div>
            <Button class="">Læs mere</Button>
         </div></a>
         <a href="/single" ><div class="mangeelementer5 bg-[url('../nepal.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
            <div class="flex flex-col text-medium text-yellow-500">
                 <h2 class="font-cooper">INDIEN</h2>
                 <h2 class="font-cooper">NEPAL</h2>
                 <h2 class="font-cooper">THAILAND</h2>
                 <h2 class="font-cooper">VIETNAM</h2>
                 <h2 class="font-cooper">SRI LANKA</h2>
            </div>
            <Button class="">Læs mere</Button>
         </div>
         <a href="/single" ><div class="mangeelementer6 bg-[url('../japan.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
            <div class="flex flex-col text-medium text-yellow-500">
                <h2 class="font-cooper">HAWAII</h2>
                <h2 class="font-cooper">AUSTRALIA</h2>
                 <h2 class="font-cooper">JAPAN</h2>
                 <h2 class="font-cooper">BALI</h2>
                 <h2 class="font-cooper">GILI ISLANDS</h2>
            </div>
            <Button class="">Læs mere</Button>
         </div>
         <a href="/single" ><div class="mangeelementer7 bg-[url('../giliislands.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
            <div class="flex flex-col text-medium text-yellow-500">
                 <h2 class="font-cooper">MALDIVERNA</h2>
                 <h2 class="font-cooper">SRI LANKA</h2>
                 <h2 class="font-cooper">BALI</h2>
                 <h2 class="font-cooper">GILI ISLANDS</h2>
            </div>
            <Button class="">Læs mere</Button>
         </div></a>
         <a href="/single" ><div class="mangeelementer8 bg-[url('../lombok.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
            <div class="flex flex-col text-medium text-yellow-500">
                <h2 class="font-cooper">BALI</h2>
                <h2 class="font-cooper">LOMBOK</h2>
                <h2 class="font-cooper">GILI ISLANDS</h2>
            </div>
            <Button class="">Læs mere</Button>
         </div></a>
         <a href="/single" ><div class="mangeelementer9 bg-[url('../brazil.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-2xl w-[295px] h-[385px] flex flex-col justify-between">
            <div class="flex flex-col text-medium text-yellow-500">
                 <h2 class="font-cooper">BRASILIEN</h2>
                 <h2 class="font-cooper">BOLIVIA</h2>
                 <h2 class="font-cooper">COLOMBIA</h2>
                 <h2 class="font-cooper">ECUADOR</h2>
                 <h2 class="font-cooper">PERU</h2>
                 <h2 class="font-cooper">ARGENTINA</h2>
            </div>
            <Button class="">Læs mere</Button>
         </div></a>
  
 </article>
 <script>
    import { inView } from "motion";
	import { animate } from 'motion';
    	/* Mange elementer der animerer ind */
	inView( ".mangeelementerinview", () =>{
	animate( ".mangeelementer1", { x: [-2000, 0 ], y: [-50, 0 ] }, { duration: 1 }) 
	animate( ".mangeelementer2", { x: [-1500, 0 ], y: [-100, 0 ] }, { duration: 3 })
	animate( ".mangeelementer3", { x: [-1000, 0 ], y: [-150, 0 ] }, { duration: 3 })
	animate( ".mangeelementer4", { x: [1750, 0 ] }, { duration: 2 })
	animate( ".mangeelementer5", { x: [-2000, 0 ], y: [-100, 0 ]  }, { duration: 1 })
	animate( ".mangeelementer6", { x: [2000, 0 ] }, { duration: 2 })
	animate( ".mangeelementer7", { x: [1500, 0 ], y: [50, 0 ] }, { duration: 3 })
	animate( ".mangeelementer8", { x: [1000, 0 ], y: [150, 0 ] }, { duration: 2 })
	animate( ".mangeelementer9", { x: [1500, 0 ], y: [0, 0 ] }, { duration: 1 })
	animate( ".mangeelementer10", { x: [2000, 0 ] , y: [50, 0 ] }, { duration: 2 })
	return () => {
		animate( ".mangeelementer1", { x: [-2000, 0 ], y: [-50, 0 ] }, { duration: 1 }) 
		animate( ".mangeelementer2", { x: [-1500, 0 ], y: [-100, 0 ] }, { duration: 3 })
		animate( ".mangeelementer3", { x: [-1000, 0 ], y: [-150, 0 ] }, { duration: 3 })
		animate( ".mangeelementer4", { x: [1750, 0 ] }, { duration: 2 })
		animate( ".mangeelementer5", { x: [-2000, 0 ], y: [-100, 0 ]  }, { duration: 1 })
		animate( ".mangeelementer6", { x: [2000, 0 ] }, { duration: 2 })
		animate( ".mangeelementer7", { x: [1500, 0 ], y: [50, 0 ] }, { duration: 3 })
		animate( ".mangeelementer8", { x: [1000, 0 ], y: [150, 0 ] }, { duration: 2 })
		animate( ".mangeelementer9", { x: [1500, 0 ], y: [0, 0 ] }, { duration: 1 })
		animate( ".mangeelementer10", { x: [2000, 0 ] , y: [50, 0 ] }, { duration: 2 })
   		}
  	})
	
 </script>