---
import Button from '../components/Button.astro';
---
<article class="lg:max-w-lg max-w-sm mx-auto">
    <div class="card bg-[url('../colombia.webp')] bg-cover bg-center p-6 rounded-lg hover:shadow-lg w-[295px] h-[385px]">
       <div class="flex flex-col text-medium text-yellow-500 font-cooper">
            <h2 class="">COSTA RICA</h2>
            <h2 class="">MEXICO</h2>
            <h2 class="">COLOMBIA</h2>
       </div>
        <Button>Læs mer</Button>
    </div>
</article>