---

---

<div x-data="{ showmenu: false }" class="p-4 fixed lg:static w-full z-10 bg-white">
    <div id="navbar" class="flex flex-row justify-between">
      <!-- Logo Section -->
      <div id="logo" class="">
        <a href="#navbar" class="">
          <p class="text-4xl font-semibold">Sten Simons</p>
        </a>
      </div>
  

  
      <!-- Burger Menu Button -->
      <button id="burgermenu" class="" x-on:click.debounce.200ms="showmenu = !showmenu">
        Menu
      </button>
    </div>
  
    <!-- Mobile Menu -->
    <nav id="mobilmenu" 
         class="flex flex-col content-center pt-4" 
         x-show="showmenu" 
         x-transition:enter="transition ease-out duration-200"
         x-transition:enter-start="opacity-0 scale-95"
         x-transition:enter-end="opacity-100 scale-100"
         x-transition:leave="transition ease-in duration-150"
         x-transition:leave-start="opacity-100 scale-100"
         x-transition:leave-end="opacity-0 scale-95"
         x-on:click.outside="showmenu = false">
      <ul>
        <li><a href="#kapitlerne" x-on:click="showmenu = false">Kapitlerne</a></li>
        <li><a href="#anmeldelser" x-on:click="showmenu = false">Anmeldelser</a></li>
        <li><a href="#gallery" x-on:click="showmenu = false">Gallery</a></li>
        <li><a href="#bog" x-on:click="showmenu = false">Køb bogen</a></li>
      </ul>
    </nav>
  </div>
  