---

---
<section class="whitespace-nowrap overflow-x-hidden py-28">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_img]:inline [&_img]:w-auto [&_span]:mx-2">
      <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
      <span><img src="/jysk.png" alt="jysk"></span>
      <span><img src="/gouda.png" alt="gouda"></span>
      <span><img src="/coneutral.png" alt="co neutral"></span>
      <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
      <span><img src="/jysk.png" alt="jysk"></span>
      <!-- Duplicera bilderna tillräckligt många gånger -->
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_img]:inline [&_img]:w-auto [&_span]:mx-2" aria-hidden="true">
      <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
      <span><img src="/jysk.png" alt="jysk"></span>
      <span><img src="/gouda.png" alt="gouda"></span>
      <span><img src="/coneutral.png" alt="co neutral"></span>
      <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
      <span><img src="/jysk.png" alt="jysk"></span>
      <!-- Duplicera här också -->
    </div>
  </section>
  
<!--<section class="whitespace-nowrap overflow-x-hidden py-4">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_img]:inline [&_img]:w-auto">
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
        <span><img src="/gouda.png" alt="gouda"></span>
        <span><img src="/coneutral.png" alt="co neutral"></span>
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
        <span><img src="/gouda.png" alt="gouda"></span>
        <span><img src="/coneutral.png" alt="co neutral"></span>
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_img]:inline [&_img]:w-auto" aria-hidden="true">
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
        <span><img src="/gouda.png" alt="gouda"></span>
        <span><img src="/coneutral.png" alt="co neutral"></span>
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
        <span><img src="/gouda.png" alt="gouda"></span>
        <span><img src="/coneutral.png" alt="co neutral"></span>
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
    </div>
</section> -->

<!--<section class="whitespace-nowrap overflow-x-hidden py-4">
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 ">
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
        <span><img src="/gouda.png" alt="gouda"></span>
        <span><img src="/coneutral.png" alt="co neutral"></span>
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
        <span><img src="/gouda.png" alt="gouda"></span>
        <span><img src="/coneutral.png" alt="co neutral"></span>
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
    </div>
    <div class="inline-block animate-infinite-scroll whitespace-nowrap [&_span]:mx-6 " aria-hidden="true">
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
        <span><img src="/gouda.png" alt="gouda"></span>
        <span><img src="/coneutral.png" alt="co neutral"></span>
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
        <span><img src="/gouda.png" alt="gouda"></span>
        <span><img src="/coneutral.png" alt="co neutral"></span>
        <span><img src="/rejsegaranti.png" alt="rejsegaranti"></span>
        <span><img src="/jysk.png" alt="jysk"></span>
    </div>
</section> -->